@mixin nav-items{
    position: relative;
    font-size: 1.05rem;
        font-weight: 600;
        padding: 1.5rem;
        cursor: pointer;
        transition: all 0.75s ease-in;
}
@mixin nav-items-responsive{
    font-size: 0.9rem !important;
    padding: 0.7rem !important;
   
}

@mixin hero-nav-links-after{
    content: "";
    position: absolute;
    width: 67.5%;
    left: 22px;
    bottom: 18px;
    height: 5px;
    background: orange;
    display: none;
    animation: hero-nav-links-animation 0.5s linear ;
    opacity: 0.7;
    border-radius: 15px;
}

@mixin hero-nav-links-after-responsive{
    bottom: 7px !important;
    left: 14px !important;
    
    
}