@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet" ');
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quintessential&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

body {
  background: #152036;
}

.hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  margin: 3.5rem auto 2.5rem auto;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

.hero-content .hero-left {
  min-width: 400px;
}

.hero-content .hero-left h1 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1;
  color: white;
  margin: 3rem 0 2rem 0;
}

.hero-content .hero-left .hero-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-content .hero-left .hero-profile .hero-image {
  background-image: url(../../images/courses-02.jpg);
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 2px solid orange;
}

.hero-content .hero-left .hero-profile .hero-info {
  font-weight: 500;
  color: white;
}

.hero-content .hero-left .hero-profile .hero-info .hero-name {
  font-size: 1.2rem;
}

.hero-content .content-img {
  background-image: url(../../images/courses-03.jpg);
  min-width: 30vw;
  min-height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  -webkit-box-shadow: -5px 5px 5px 0  cyan;
          box-shadow: -5px 5px 5px 0  cyan;
}

.votes_coms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5px;
  -webkit-transition: all 1.5 ease-in-out;
  transition: all 1.5 ease-in-out;
}

.votes_coms .votes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  font-size: 15px;
  font-weight: 500;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid white;
  border-radius: 12px;
  padding: 4px 8px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.votes_coms .votes .fa-star {
  color: gold;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.votes_coms .votes .votes-no {
  color: white;
}

.votes:hover {
  border: 2px solid cyan !important;
  cursor: pointer;
}

.votes:hover .fa-star {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.hero-texts {
  font-size: 17px;
  font-weight: 400;
  width: 80%;
  margin: auto;
  line-height: 1.35;
  border-top: 2px solid orange;
  padding-top: 1.5rem;
  color: white;
}

.comments-main {
  margin: 2rem auto 0 auto;
  width: 80%;
  padding: 1rem 1.5rem;
}

.comments-main h2 {
  display: inline;
  color: white;
  border-bottom: 2px solid #14ae9c;
  font-size: 1.75rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 1.5rem;
}

.comments-contents {
  margin-top: 1rem;
}

.comments-contents .comments-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  padding: 1rem;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

.comments-contents .comments-item .hero-image {
  background-image: url(../../images/courses-02.jpg);
  min-width: 75px;
  height: 75px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 2px solid orange;
  margin: auto;
}

.comments-contents .comments-item .comment-box .comment-info {
  color: white;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 2rem;
  font-weight: 500;
}

.comments-contents .comments-item .comment-box .comment-info .comment-name {
  font-size: 1.2rem;
  border-bottom: 2px solid wheat;
}

.comments-contents .comments-item .comment-box .comment-info .comment-date {
  font-size: 16px;
  margin-top: auto;
  border-bottom: 2px solid wheat;
}

.comments-contents .comments-item .comment-box .comment-text {
  margin-top: 1rem;
  font-size: 17px;
  font-weight: 400;
  color: white;
}

@media only screen and (max-width: 800px) {
  .hero-content {
    margin: 0 auto 1.5rem auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2.5rem;
  }
  .hero-content .hero-left .hero-title {
    font-size: 1.8rem;
    margin: 2rem 0;
    text-align: center;
  }
  .hero-content .hero-left .hero-profile {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero-content .hero-left .hero-profile .hero-info .hero-name {
    font-size: 16px;
  }
  .hero-content .hero-left .hero-profile .hero-info .hero-date {
    font-size: 14px;
  }
  .hero-content .hero-left .hero-profile .hero-info .hero-votes .votes_coms .votes {
    font-size: 13px;
    padding: 3px 6px;
  }
  .hero-content .hero-left .hero-profile .hero-info .hero-votes .votes_coms .votes .votes-no {
    font-size: 13px;
  }
  .hero-content .content-img {
    width: 90vw;
  }
  .hero-texts {
    font-size: 15px;
    font-weight: 400;
    width: 85%;
    margin: auto;
    line-height: 1.5;
  }
  .comments-main {
    margin: 0 auto;
    width: 90%;
    padding: 1rem 0;
  }
  .comments-main h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 0.5rem;
  }
  .comments-contents .comments-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
    padding: 1rem;
  }
  .comments-contents .comments-item .hero-image {
    min-width: 60px;
    height: 60px;
    border: 2px solid orange;
  }
  .comments-contents .comments-item .comment-box .comment-info {
    gap: 14px;
    font-weight: 500;
  }
  .comments-contents .comments-item .comment-box .comment-info .comment-name {
    font-size: 14px;
  }
  .comments-contents .comments-item .comment-box .comment-info .comment-date {
    font-size: 13px;
    margin-top: auto;
  }
  .comments-contents .comments-item .comment-box .comment-text {
    margin-top: 1rem;
    font-size: 14px;
    font-weight: 400;
  }
}
/*# sourceMappingURL=preview.css.map */